.divSpan{
    flex-direction: column;
    display: flex;
}
.sizeDivButton{
    width: 10rem;
    height: 3rem;
}
.login-button{
    padding: 12px 36px;
    color: var(--color-primary); 
    background-color: #ffff;
    border: 1px solid var(--color-error);
    border-radius: 10px;
}